name: CI

on:
    push:
        branches: ["main"]
    pull_request:
        branches: ["main"]

env:
    CARGO_TERM_COLOR: always

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4
            - name: Build
              run: cargo build --verbose
            - name: Run tests
              run: cargo test --verbose

    docs:
        runs-on: ubuntu-latest
        if: github.ref == 'refs/heads/main'
        permissions:
            contents: read
            pages: write
            id-token: write

        steps:
            - uses: actions/checkout@v4

            - name: Build documentation
              run: cargo doc --no-deps --verbose

            - name: Add redirect index
              run: |
                CRATE_NAME=$(echo '${{ github.repository }}' | tr '[:upper:]' '[:lower:]' | cut -f2 -d"/")
                echo "<meta http-equiv=\"refresh\" content=\"0; url=${CRATE_NAME//-/_}\">" > target/doc/index.html
                touch target/doc/.nojekyll

            - name: Upload artifact
              uses: actions/upload-pages-artifact@v3
              with:
                path: target/doc

            - name: Deploy to GitHub Pages
              uses: actions/deploy-pages@v4
